/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Base Styles */
:root {
    --container-width: calc(100vw - 74px);
    --container-height: calc(100vh - 80px);

    --interval-width: 9.63px;
    --interval-height: 24px;

    --background: #44444a;
    --foreground: #b4b4b7;

    --copy-text: " [+]";
}

@font-face {
    font-family: iAWriterMono;
    src: url(iAWriterMonoS-Regular.woff);
}

@font-face {
    font-family: Commit;
    src: url(CommitMono-400-Regular.otf);
}

* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Commit", monospace;
    background: var(--background);
    color: var(--foreground);
    -webkit-font-smoothing: antialiased;
}

.content-copy:focus-visible:after,
.content-copy:hover:after,
.content-copy:active:after {
    display: inline;
    content: var(--copy-text);
    cursor: default;
}

/* Themes */
html[data-theme="1"] {
    --background: #f7f3e8;
    --foreground: #1f2328;
}

html[data-theme="2"] {
    --background: #cccccc;
    --foreground: #111111;
}

html[data-theme="3"] {
    --background: #c7d8c6;
    --foreground: #1e2a1e;
}

html[data-theme="4"] {
    --background: #2a2a31;
    --foreground: #f2d9a6;
}

html[data-theme="5"] {
    --background: #0044ff;
    --foreground: #ffffff;
}

html[data-theme="6"] {
    --background: #0f1720;
    --foreground: #d6e4ff;
}

html[data-theme="7"] {
    --background: #2b0f14;
    --foreground: #ffb8c2;
}

/* Layout */
.outer-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 608px;
}

.inner-container {
    position: relative;
    width: var(--container-width);
    height: round(down, var(--container-height), var(--interval-height));
    min-height: 456px;
}

/* Content */
.content-row {
    height: 24px;
    text-transform: uppercase;
    pointer: default;
    user-select: none;
    width: 100%;
}

.content-row-bottom {
    position: absolute;
    bottom: 0px;
}

.content-row p {
    display: inline-block;
    border-radius: 2px;
    padding-left: 3px;
    cursor: default;
}

.content-link:focus-visible:after,
.content-link:hover:after,
.content-link:active:after {
    display: inline;
    content: " [↗]";
    cursor: default;
}

.content-no-link {
    display: inline-block;
    padding-left: 3px;
}

.content-no-link:focus-visible:after,
.content-no-link:hover:after,
.content-no-link:active:after {
    display: inline;
    content: " [-]";
    cursor: default;
}

.content-switch:focus-visible:after,
.content-switch:hover:after,
.content-switch:active:after {
    display: inline;
    content: " [⬏]";
    cursor: default;
}

button {
    border: none;
    padding: 0px;
    margin: 0px;
    background: none;
    font-family: inherit;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    padding-left: 3px;
    border-radius: 2px;
    color: var(--foreground);
}

button:focus-visible {
    color: var(--background);
    background: var(--foreground);
    outline: none;
}

button:active {
    background: var(--foreground);
    color: var(--background);
}

.mobile-only {
    display: none;
}

.no-mobile {
    display: inline-block;
}

/* ASCII Animation */
.ascii-container {
    position: absolute;
    width: 64%;
    height: 100%;
    right: 3px;
    top: 0px;
}

.ascii-click-container {
    position: absolute;
    width: 64%;
    height: 100%;
    right: 3px;
    top: 0px;
}

pre {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    text-align: left;
    user-select: none;
    letter-spacing: 0;
    font-size: 16px;
    line-height: 1;
    font-kerning: none;
    font-variant-ligatures: none;
}

.ascii-hint {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background: var(--background);
    pointer-events: none;
    user-select: none;
    cursor: default;
}

.ascii-hint.show {
    display: block;
}

/* Tablet */
@media only screen and (max-width: 768px) {
    body {
        font-size: 18px;
        line-height: 32px;
    }

    .mobile-only {
        display: block;
    }

    button.mobile-only {
        display: flex;
    }

    .no-mobile {
        display: none;
    }

    .outer-container {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 32px 24px;
        padding-left: 21px;
        min-width: 320px;
    }

    .inner-container {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
    }

    .content-container {
        position: absolute;
        z-index: 20;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
    }

    .content-row {
        height: 32px;
    }

    .content-row-empty {
        height: 32px;
    }

    .content-row p {
        padding-left: 3px;
    }

    button,
    .content-no-link {
        padding: 0px;
        padding-left: 3px;
        font-size: 18px;
        line-height: 32px;
        width: 100%;
        display: flex;
    }

    .button-label {
        flex-grow: 1;
        text-align: left;
    }

    .content-link:focus-visible:after,
    .content-link:hover:after,
    .content-link:active:after {
        display: inline;
        content: "";
    }

    .content-no-link:focus-visible:after,
    .content-no-link:hover:after,
    .content-no-link:active:after {
        display: inline;
        content: "";
    }

    .content-copy:focus-visible:after,
    .content-copy:hover:after,
    .content-copy:active:after {
        display: inline;
        content: "";
    }

    .content-switch:focus-visible:after,
    .content-switch:hover:after,
    .content-switch:active:after {
        display: inline;
        content: "";
    }

    .content-switch {
        width: auto;
        padding-right: 3px;
    }

    .ascii-container {
        display: none;
        z-index: 10;
        width: 100%;
        left: 0px;
        top: calc(100% - 96px);
        height: calc(100% + 224px);
        background: #ff9900;
        padding-bottom: 32px;
    }

    .ascii-click-container {
        display: none;
    }

    .ascii-hint {
        display: none;
    }

    .ascii-hint.show {
        display: none;
    }

    pre {
        text-align: left;
        opacity: 0.2;
        background: #ff3300;
        font-size: 18px;
    }
}
